<%- include('./includes/head.ejs') %>
<header class="container-fluid">
    <div class="row h-100">
        <div class="last-article offset-1 col-10 offset-md-1 col-md-5 my-auto">
            <h2>Nos derniers Articles...</h2>
            <button class="btn"><a href="./page/blog">En Savoir Plus ></a></button>
        </div>
    </div>


</header>
<section id="concept" class="container-fluid">
    <div class="title-section">
        <h2>Notre Concept</h2>
    </div>
    <div class="row">
        <div class="my-auto col-12 col-md-6 col-lg-3">
            <div class="concept-element">
                <i class="fas fa-search-location"></i>

                <h3>Search</h3>
            </div>
        </div>
        <div class="my-auto col-12 col-md-6 col-lg-3">
            <div class="concept-element">
                <i class="fas fa-map-marked-alt"></i>

                <h3>Map</h3>
            </div>
        </div>
        <div class="my-auto col-12 col-md-6 col-lg-3">
            <div class="concept-element">
                <i class="fas fa-route"></i>

                <h3>Créer ta route</h3>
            </div>
        </div>

        <div class="my-auto col-12 col-md-6 col-lg-3">
            <div class="concept-element">
                <i class="fas fa-paper-plane"></i>

                <h3>Let's Go</h3>
            </div>
        </div>
    </div>


</section>

<section class="container-fluid" id="portfolio">
    <div class="title-section">
        <h2>Portfolio</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="container-img">

                <img src="../images/blog1.jpg" alt="image de portfolio" class="img-fluid">
            </div>

        </div>

    </div>
    <div class="row content-text-portfolio">
        <div class="bloc-social col-6">
            <div class="social-icons">
                <a class="social-icon social-icon--twitter">
                    <i class="fa fa-twitter"></i>
                    <div class="tooltip">Twitter</div>
                </a>
                <a class="social-icon social-icon--instagram">
                    <i class="fa fa-instagram"></i>
                    <div class="tooltip">Instagram</div>
                </a>
                <a class="social-icon social-icon--linkedin">
                    <i class="fa fa-linkedin"></i>
                    <div class="tooltip">LinkedIn</div>
                </a>
                <a class="social-icon social-icon--facebook">
                    <i class="fa fa-facebook"></i>
                    <div class="tooltip">Facebook</div>
                </a>
            </div>

        </div>
        <div class="content-text-social col-6">
            <h3>Suivez Nous !</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis incidunt vel fuga praesentium explicabo,
                temporibus impedit quod quam ipsa quasi quidem soluta dolorem ipsam suscipit sapiente qui accusamus,
                possimus accusantium!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis incidunt vel fuga praesentium explicabo,
                temporibus impedit quod quam ipsa quasi quidem soluta dolorem ipsam suscipit sapiente qui accusamus,
                possimus accusantium!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis incidunt vel fuga praesentium explicabo,
                temporibus impedit quod quam ipsa quasi quidem soluta dolorem ipsam suscipit sapiente qui accusamus,
                possimus accusantium!</p>
        </div>
    </div>

</section>
<%- include('./includes/footer.ejs') %>