<%- include('../includes/head.ejs') %>

<section class="form-add-post">
    <h1><%= pageTitle %> </h1>
    <div class="container h-100">

        <div class="row">
            <form class="col-12 col-md-6 add-post h-100" action="/add-post" method="POST">

                <div class="elemInput">
                    <label for="title">Titre</label>
                    <input type="text" name="title" id="title" placeholder="Titre de l'article">
                </div>
                <div class="elemInput">
                    <label for="content">Contenu de l'Article</label>
                    <textarea type="text" name="content" id="content"
                        placeholder="Ajout du contenu texte de l'article"></textarea>
                </div>
                <div class="elemInput">
                    <label for="imgURL">Url de l'image</label>
                    <input type="text" name="imgURL" id="imgURL" placeholder="Ajoute une image à l'article">
                </div>
                <div class="elemInput">
                    <label for="resume">Résumé de l'Article</label>
                    <textarea name="resume" id="resume" rows="5"
                        placeholder="Ajoute un extrait de l'article"></textarea>
                </div>

                <button class="btn-add-post btn" type="submit">Ajouter un Article</button>
            </form>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </div>
</section>
<%- include('../includes/footer.ejs') %>